<html>
    <head>
        <title>clarinha's blog</title>
    </head>
    <body>
        <h1>blog da clara</h1>
        <h2>metas e conquistas</h2>

        <h3><em>metas:</em></h3>
        <p>terminar curso django girls</p>
        <p>ver curso developer mozilla</p>
        <p>terminar módulo 3 guanabara</p>
        <p>fazer listas site python</p>
        <p>assistir curso gama academy</p>
        <p>fazer curso do rockseat</p>
        <p>aprender javascript</p>
        <p>executar ideias de softwares com gabriel</p>

        <br>

        <h3><em>conquistas:</em></h3>
        <p>terminei módulo 1 guanabara</p>
        <p>terminei módulo 2 guanabara</p>
        <p>estou no caminho do módulo 3 guanabara</p>
        <p>estou no caminho do curso django girls</p>

        <br>

        <h3>um vídeo pra rir quando ficar cansada:</h3>
        <a href="https://youtu.be/gO8N3L_aERg">fire drill</a>
    </body>
</html>